body {
	width: 1000px;
	margin:80px;
	background-size: border;
	background-color: #fde331;
}

.grid-container {
	display: grid; 
	grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px;
	height: 310px;
	width:235px;
	float:left;
}

#container-2 {
	width:170px;
}

#container-3 {
	width:180px;
}

#container-4 {
	width:215px;
}

/*Graphic Element - Shapes */
.element-1{
	width: 30px;
	height: 15px;
	transform: translateX(18px);
}

.element-1b{
	width: 30px;
	height: 15px;
	transform: translateX(18px) translateY(250px);
}

.element-1c{
	width: 20px;
	height: 15px;
	transform: translateX(0px) translateY(-20px);
}

.element-1d{
	width: 20px;
	height: 15px;
	transform: translateX(0px) translateY(230px);
}

.element-1e{
	width: 43px;
	height: 15px;
	transform: translateX(0px) translateY(266px);
}

.element-1eb{
	width: 43px;
	height: 15px;
	transform: translateX(-22px) translateY(266px);
}

.element-1f{
	width: 87px;
	height: 16px;
	transform: translateX(-34px) translateY(0px);
}

.element-1g{
	width: 75px;
	height: 16px;
	transform: translateX(-28px) translateY(100px);
}

.element-a1{
	width: 35px;
	height: 15px;
	transform: translateX(-15px) translateY(-20px);
}

.element-a2{
	width: 35px;
	height: 15px;
	transform: translateX(-15px) translateY(230px);
}

.element-b1{
	width: 20px;
	height: 20px;
	transform: translateY(-35px);
}

.element-b2{
	width: 20px;
	height: 20px;
	transform: translateX(0px) translateY(175px);
}

.element-b2z{
	width: 20px;
	height: 20px;
	transform: translateX(-35px) translateY(0px);
}

.element-b3{
	width: 20px;
	height: 20px;
	transform: translateX(15px) translateY(0px);
}

.element-b3x{
	width: 20px;
	height: 20px;
	transform: translateX(-15px) translateY(0px);
}

.element-b4{
	width: 20px;
	height: 20px;
	transform: translateX(15px) translateY(0px);
}

.element-b4x{
	width: 20px;
	height: 20px;
	transform: translateX(-15px) translateY(0px);
}


.element-b5{
	width: 15px;
	height: 15px;
	transform: translateX(15px) translateY(0px);
}

.element-o{
	width: 44px;
	height: 15px;
	transform: translateX(-13px) translateY(0px);;
}

.element-o2{
	width: 30px;
	height: 15px;
	transform: translateX(-30px) translateY(250px);;
}


#one{
	transform: translateX(21px) translateY(-20px);
	background-color:yellow;
}

#oneb{
	transform: translateX(21px) translateY(230px);
	background-color:yellow;
}

#two{
	transform: translateX(-15px);
	background-color: yellow;
}

#twob{
	transform: translateX(-15px) translateY(250px);
	background:yellow;
}


#hide {
	display: fff;
}

.element-2{
	width: 35px;
	height: 35px;
}


.element-2b{
	width: 35px;
	height: 35px;
	transform: translateX(-15px) translateY(-0px);
}

.element-2c{
	width: 35px;
	height: 35px;
	transform: translateX(100px) translateY(0px);
}

.element-2d{
	width: 35px;
	height: 35px;
	transform: translateX(70px) translateY(0px);
}

.element-2e{
	width: 35px;
	height: 35px;
	transform: translateX(80px) translateY(0px);
}


.element-3{
	width: 35px;
	height: 20px;	
	transform: translateY(125px);
}

.element-3a{
	width: 35px;
	height: 35px;
	transform: translateY(25px);
}


.element-1a{
	width: 35px;
	height: 35px;
	transform: translateY(-40px);
	border-top-left-radius: 10px;
	transform: translateX(32px);
}


.element-5{
	width: 15px;
	height: 35px;
	transform: translateX(0px);
	background-color:yellow;
}

#element-5-b{
	transform: translateX(15px);
}

#element-5-c{
	transform: translateX(30px);
}


#element-5-d{
	transform: translateX(45px);
}

#element-5-e{
	transform: translateX(60px);
}

#element-5-f{
	transform: translateX(75px) translateY(-70px);
}

#element-5-g{
	transform: translateX(90px) translateY(-140px);
}

#element-5-h{
	transform: translateX(105px) translateY(-210px);
}

#element-5-i{
	transform: translateX(120px) translateY(-280px);
}

#element-5-j{
	transform: translateX(75px);
}

#element-5-k{
	transform: translateX(90px);
}


.element-6{
	width: 20px;
	height: 50px;
	transform: translateX(-25px) translateY(217px);
	background-color:yellow;
}

#element-6b{
	transform: translateX(-15px) translateY(117px);
}

#element-6c{
	transform: translateX(-5px) translateY(16px);
	height: 51px;
}

#element-6d{
	transform: translateX(5px) translateY(-85.5px);
	height: 51.5px;
}

#element-6e{
	transform: translateX(15px) translateY(-187.5px);
	height: 51px;
}

#element-6f{
	transform: translateX(-15px) translateY(16px);
	height: 51px;
}

#element-6g{
	transform: translateX(-5px) translateY(16px);
	height: 51px;
}

#element-6h{
	transform: translateX(5px) translateY(16px);
}

#element-6i{
	transform: translateX(15px) translateY(16px);
}

#element-6j{
	transform: translateX(25px) translateY(16px);
}


/* Graphic Elements - Colors*/
#color-1 {
	background: yellow;
}


.grid-container-2 {
	display: grid; 
	grid-template-columns: 22px 9px 16px 18px;
	float:left;
	margin-right: 30px;
}

.grid-container-2b {
	display: grid; 
	grid-template-columns: 22px 24px 13px 18px;
	float:left;
	margin-right: 10px;
}

.grid-container-2c {
	display: grid; 
	grid-template-columns: 16px 18px;
	float:left;
	margin-right: 10px;
}


.grid-container-2d {
	display: grid; 
	grid-template-columns: 18px 18px 18px;
	float:left;
	margin-right: 10px;
}

.grid-container-2e {
	display: grid; 
	grid-template-columns: 6px;
	float:left;
	margin-right: 10px;
}

.grid-container-2f {
	display: grid; 
	grid-template-columns: 17px 22px; 
	float:left;
	margin-right: 10px;
}

.grid-container-2g {
	display: grid; 
	grid-template-columns: 15px 18px 35px 18px 18px 18px 23px 21px 20px;
	float:left;
	margin-right: 10px;
}

.grid-container-2h {
	display: grid; 
	grid-template-columns: 22px 33px;
	float:left;
	margin-right: 10px;
}

.grid-container-2i {
	display: grid; 
	grid-template-columns: 23px;
	float:left;
	margin-right: 10px;
}

.grid-container-2j {
	display: grid; 
	grid-template-columns: 19px 20px 47px 10px 24px 24px 37px 18px 6px;
	float:left;
	margin-right: 10px;
}

.z-element1 {
	width: 98%;
	height: 6px;
	transform: translateX(23px);
	background-color:yellow;
}

.z-element1a {
	width: 22px;
	height: 6px;
	transform: translateX(40px);
	background-color:yellow;
}

.z-element2 {
	width: 7px;
	height: 25px;
	transform: translateX(30.5px);
	background-color:yellow;
}

.z-element2b {
	width: 7px;
	height: 25px;
	transform: translateX(47px);
	background-color:yellow;
}

.z-element2c {
	width: 7px;
	height: 31px;
	transform: translateX(44px);
}

.z-element2c2 {
	width: 7px;
	height: 31px;
	transform: translateX(61.5px) translateY(-49px);
}

.z-element2d {
	width: 7px;
	height: 31px;
	transform: translateX(61px) translateY(-49px);
}

.z-element16 {
	width: 6px;
	height: 6px;
	transform: translateX(49.5px) translateY(-27px);
}

.z-element16b {
	width: 6px;
	height: 6px;
	transform: translateX(53px) translateY(-27px);
}

.z-element16c {
	width: 6px;
	height: 6px;
	transform: translateX(57px) translateY(-28px);
}

.z-element16d {
	width: 6px;
	height: 6px;
	transform: translateX(57.5px) translateY(-39px);
}

.z-element3 {
	width: 7px;
	height: 31px;
	transform: translateX(25px);
	background-color:yellow;
}

.z-element2-3 {
	width: 7px;
	height: 25px;
	transform: translateX(41px);
	background-color:yellow;
}

.z-element2-4 {
	width: 7px;
	height: 31px;
	transform: translateX(41px);
	background-color:yellow;
}

.z-element2-5 {
	width: 7px;
	height: 28px;
	transform: translateX(41px);
	background-color:yellow;
}

.z-element2-6 {
	width: 7px;
	height: 28px;
	transform: translateX(54px) translateY(-34px);
	background-color:yellow;
}

.z-element4-3d {
	width: 18px;
	height: 6px;
	transform: translateY(-6px) translateX(41px);
}
.z-element4-3e {
	width: 16px;
	height: 6px;
	transform: translateY(-3px) translateX(43px);
}

.z-element4-3 {
	width: 18px;
	height: 6px;
	transform: translateY(-25px) translateX(41px);
}

.z-element4-3b {
	width: 15px;
	height: 6px;
	transform: translateY(-19px) translateX(41px);
}

.z-element4-3c {
	width: 18px;
	height: 6px;
	transform: translateY(-12px) translateX(41px);
}


.z-element4-4 {
	width: 6px;
	height: 24px;
	transform: translateY(-40px) translateX(56px);
}

.z-element4 {
	width: 12px;
	height: 6px;
	transform: translateY(-22px) translateX(31px);
}

.z-element4a {
	width: 100%;
	height: 6px;
	transform: translateY(-20px) translateX(20px);
}

.z-element5 {
	width: 7px;
	height: 31px;
	transform: translateY(-37px) translateX(40px);
	background-color:yellow;
}

.z-element6 {
	width: 14px;
	height: 6px;
	transform: translateX(41px);
	background-color:yellow;
}

.z-element6a {
	width: 12px;
	height: 6px;
	transform: translateX(45px);
	background-color:blue;
}


.z-element7 {
	width: 7px;
	height: 19px;
	transform: translateX(44px);
}

.z-element7a {
	width: 7px;
	height: 21px;
	transform: translateX(38px) translateY(-2px);
}

.z-element7b {
	width: 7px;
	height: 19px;
	transform: translateX(39px);
}

.z-element7c {
	width: 7px;
	height: 19px;
	transform: translateX(52px) translateY(-20px);
}

.z-element7d {
	width: 7px;
	height: 19px;
	transform: translateX(42px);
}

.z-element7e {
	width: 7px;
	height: 19px;
	transform: translateX(54px) translateY(-25px);
}

.z-element8 {
	width: 14px;
	height: 6px;
	transform: translateX(41px);
	background-color:yellow;
}

.z-element8alt {
	width: 85%;
	height: 6px;
	transform: translateX(41px) translateY(-2px);
	background-color:yellow;
}

.z-element8a {
	width: 85%;
	height: 7px;
	transform: translateX(41px)translateY(-20px);
	background-color:yellow;
}

.z-element8b {
	width: 12px;
	height: 6px;
	transform: translateX(45px);
	background-color:yellow;
}

.z-element9 {
	width: 85%;
	height: 6px;
	transform: translateX(41px);
	background-color:yellow;
}

.z-element9a {
	width: 100%;
	height: 6px;
	transform: translateX(37px);
	background-color:yellow;
}

.z-element10 {
	width: 6px;
	height: 6px;
	transform: translateX(41px);
}

.z-element10a {
	width: 6px;
	height: 6px;
	transform: translateX(37px);
}

#space{
	padding-left: 3px;
}

.z-element11 {
	width: 85%;
	height: 6px;
	transform: translateX(41px);
}

.z-element11a {
	width: 85%;
	height: 6px;
	transform: translateX(37px);
}

.z-element12 {
	width: 6px;
	height: 7px;
	transform: translateX(49.7px);
}

.z-element12a {
	width: 6px;
	height: 7px;
	transform: translateX(37px);
}
.z-element13 {
	width: 85%;
	height: 6px;
	transform: translateX(41px);
}

.z-element13a {
	width: 100%;
	height: 6px;
	transform: translateX(37px);
}

.z-element3b {
	width: 7px;
	height: 15px;
	transform: translateX(25px);
	background-color:yellow;
}

.z-element5b {
	width: 7px;
	height: 16px;
	transform: translateY(-33px) translateX(40px);
}

.z-element5c {
	width: 7px;
	height: 15px;
	transform: translateY(-41px) translateX(40px);
}

.z-element5d {
	width: 7px;
	height: 11px;
	transform: translateY(-38px) translateX(40px);
}

.z-element4a {
	width:15px;
	height: 6px;
	transform: translateY(-31px) translateX(28px);
}

.z-element4b {
	width:15px;
	height: 6px;
	transform: translateY(-1px) translateX(28px);
}

.z-element14 {
	width:7px;
	height:12px;
	transform: translateY(-2px) translateX(32px);
}

.z-element15 {
	width:6px;
	height:6px;
	transform: translateY(25px) translateX(32px);
}


.z-element17 {
	width: 6px;
	height: 10px;
	transform: translateX(53px) translateY(0px);
}

.z-element17a {
	width: 6px;
	height: 10px;
	transform: translateX(56px) translateY(0px);
}

.z-element17b {
	width: 6px;
	height: 11px;
	transform: translateX(60px) translateY(0px);
}

.z-element17c {
	width: 6px;
	height: 10px;
	transform: translateX(64px) translateY(-21px);
}

.z-element17d {
	width: 6px;
	height: 10px;
	transform: translateX(67px) translateY(-41px);
}


.z-element17b1 {
	width: 6px;
	height: 11px;
	transform: translateX(32px) translateY(20px);
}

.z-element18 {
	width: 6px;
	height: 4px;
	transform: translateX(41px) translateY(-33px);
}

.z-element18-2 {
	width: 11px;
	height: 4px;
	transform: translateX(40px) translateY(-19px);
}
.z-element17c1 {
	width: 6px;
	height: 11px;
	transform: translateX(34px) translateY(-1px);
}

.z-element17d1 {
	width: 6px;
	height: 10px;
	transform: translateX(36px) translateY(-21px);
}

.z-element17-2 {
	width: 6px;
	height: 10px;
	transform: translateX(45px) translateY(-39px);
}

.z-element17a-2 {
	width: 6px;
	height: 10px;
	transform: translateX(47px) translateY(-39px);
}

.z-element17b-2 {
	width: 6px;
	height: 11px;
	transform: translateX(49px) translateY(-40px);
}

/*.img-fix {
	background:url(stand_in.png) no-repeat;
	background-size: 50%;
	transform: translateY(604px) translateX(428px);
	height:50px;
	margin-bottom: 100px;

}


/*Copy Section
.element-1{
	width: 30px;
	height: 35px;
	border-top-left-radius: 20px;
	transform: translateX(18px);
}
*/


