
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');



body {
	background-color: rgb(220,212,189);
	width: 800px;
	margin:100px;
	background-size: border;
}


.grid-container {
	display: grid; 
	grid-template-columns: 30px 30px 30px 30px 30px;
	grid-gap: 100px;
	height: 610px;
	width: 550px;
}

/*Graphic Element - Shapes */
.rounded-rectangle-1{
	width: 30px;
	height: 60px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
}

.rounded-rectangle-2{
	width: 30px;
	height: 130px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-27px);
	background:radial-gradient(farthest-corner, #c23725 0%, #c23725 50%, #d3c8b4 100%);
}

.rounded-rectangle-3{
	width: 30px;
	height: 250px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-52px);
}

.rounded-rectangle-4{
	width: 30px;
	height: 110px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-81px);
}

.rounded-rectangle-5 {
	width: 30px;
	height: 170px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-109px);
}

/* Graphic Elements - Colors*/
#grey {
	background: #6a5e52;
	background:radial-gradient(farthest-corner, #6a5e52 0%, #6a5e52 50%, #d3c8b4 100%);
}

#red {
	background: #c23725;
	background:radial-gradient(farthest-corner, #c23725 0%, #c23725 50%, #d3c8b4 100%);
}

#green{
	background: #7f9040;
	background:radial-gradient(farthest-corner, #7f9040 0%, #7f9040 50%, #d3c8b4 100%);
}

#blue {
	background: #7aa9bf;
	background:radial-gradient(farthest-corner, #7aa9bf 0%, #7aa9bf 50%, #d3c8b4 100%);
}

#yellow{
	background: #eed32a;
	background:radial-gradient(farthest-corner, #eed32a 0%, #eed32a 50%, #eadfaa 100%);
}



/*Copy Section*/

h1 {
	font-size: 2.2em;
	font-family: roboto, sans-serif;
	font-weight: 500;
	padding-bottom: 35%;
	border: 1px ;
	line-height: 100%;
	letter-spacing: -1px;
	margin-top: 0;
	margin-right: 48px;
}

p {
	font-size: 0.89em;
	line-height: 125%;
	font-family: roboto, sans-serif;
	font-weight: 400;
	float: right;
	border: 1px ;
	margin-top: 0px;
	width: 285px;
}

h6 {
	font-size: 4px;
	font-family: roboto, sans-serif;
	font-weight: 700;
	transform: translateY(-6px);
}

.grid {
	display: flex;
	column-count: 2;
	margin-right: 100px;
	padding-top: 4.5%;
}

