
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');



body {
	background-color:#fff;
	width: 800px;
	margin:100px;
	background-size: border;
}

.grid-container {
	display: grid; 
	grid-template-columns: 35px 35px 35px 35px 35px 35px 35px;
	height: 610px;
	width: 550px;
}


#two {

}

/*Graphic Element - Shapes */
.element-1{
	width: 30px;
	height: 15px;
	transform: translateX(18px);
}

.element-1b{
	width: 30px;
	height: 15px;
	transform: translateX(18px) translateY(250px);
}

.element-1c{
	width: 30px;
	height: 15px;
	transform: translateX(-15px) translateY(-20px);
}

.element-1d{
	width: 30px;
	height: 15px;
	transform: translateX(-17px) translateY(230px);
}

#one{
	transform: translateX(21px) translateY(-20px);
	background: #000;
}

#oneb{
	transform: translateX(21px) translateY(230px);
	background: #000;
}

#two{
	transform: translateX(-15px);
	background: #000;
}

#twob{
	transform: translateX(-15px) translateY(250px);
	background: #000;
}


.element-2{
	width: 35px;
	height: 35px;
}

.element-2a{
	width: 35px;
	height: 35px;
	border-top-right-radius: 25px;
}
.element-3{
	width: 35px;
	height: 20px;	
	transform: translateY(125px);
}

.element-3a{
	width: 35px;
	height: 35px;
	transform: translateY(25px);

}


.element-1a{
	width: 35px;
	height: 35px;
	transform: translateY(-40px);
	border-top-left-radius: 10px;
	transform: translateX(32px);

}





.rounded-rectangle-2{
	width: 30px;
	height: 130px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-27px);
	background:radial-gradient(farthest-corner, #c23725 0%, #c23725 50%, #d3c8b4 100%);
}

.rounded-rectangle-3{
	width: 30px;
	height: 250px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-52px);
}

.rounded-rectangle-4{
	width: 30px;
	height: 110px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-81px);
}

.rounded-rectangle-5 {
	width: 30px;
	height: 170px;
	border-radius: 30px;
	mix-blend-mode: soft-light;
	transform: translateY(-109px);
}

/* Graphic Elements - Colors*/
#black {
	background: #000;
}

#red {
	background: #c23725;
	background:radial-gradient(farthest-corner, #c23725 0%, #c23725 50%, #d3c8b4 100%);
}

#green{
	background: #7f9040;
	background:radial-gradient(farthest-corner, #7f9040 0%, #7f9040 50%, #d3c8b4 100%);
}

#blue {
	background: #7aa9bf;
	background:radial-gradient(farthest-corner, #7aa9bf 0%, #7aa9bf 50%, #d3c8b4 100%);
}

#yellow{
	background: #eed32a;
	background:radial-gradient(farthest-corner, #eed32a 0%, #eed32a 50%, #eadfaa 100%);
}



/*Copy Section
.element-1{
	width: 30px;
	height: 35px;
	border-top-left-radius: 20px;
	transform: translateX(18px);
}
*/



}

.grid {
	display: flex;
	column-count: 2;
	margin-right: 100px;
	padding-top: 4.5%;
}

