/* Text */
.intro {
  width: 220px;
  height: 100px;
  margin-top: 80px;
  margin-left: 80px;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.intro-text {
  padding: 10%;
}

p {
  font-family: 'Space Mono', monospace;

}

/* Background */
.canvas {
  width: 100%;
  height: 100%;
}

.pixel {
  width: 10px;
  height: 10px;
  float: left;
  background:yellow;
}

.pixel:nth-child(odd) {
  background: #fff;
}

.pixel:nth-child(3n+0) {
  background: #fff;
}

.pixel:nth-child(6n+0) {
  background: #fff;
}

.pixel:nth-child(7n+0) {
  background: #fff;
}

.pixel:nth-child(8n+1) {
  background: #fff;
}

.pixel:nth-child(9n+0) {
  background: #fff;
}

.pixel:nth-child(11n+0) {
  background: #fff;
}

.pixel:nth-child(13n+1) {
  background: #fff;
}


.container {
  display: grid | inline-grid | subgrid;
  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
  grid-template-rows: 25% 100px auto;

}

#item1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1-start;
  grid-row-end: 3;
  background-color:#333333;
}

/*


.flex-container {
  display: flex;
}

#shape1 {
  width: 30px;
  height: 30px;
  background-color: red;
}
#shape2 {
  width: 30px;
  height: 30px;
  background-color: blue;
}
#shape3 {
  width: 30px;
  height: 30px;
  background-color: purple;
}

.display {
  display: none;
}*/


* { 
  padding:0;
  margin:0;
  border: 0;
}

#refresh {
  width: 100%; 
  height: 100%;
  color: white;
  border:10px solid blue;
  position: absolute;
  z-index: -2;
  margin: 0 0 0 0;
}

#test {
  width: 50px; 
  height: 40px;
  padding: 10px 50px;
  color: white;
  display: inline;
  float: left;
  transform: translateY(100px) translateX(130px);
  }
