/* Text */
@import url("https://use.typekit.net/ers2ngk.css");

.intro {
  width: 220px;
  height: 80px;
  margin-top: 60px;
  margin-left: 60px;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.work {
  width: 500px;
  height: 290px;
  margin-top: 320px;
  margin-left: 540px;
  position: absolute;
  z-index: 1;
  background-color: white;
  }


/*

.extra {
  width: 500px;
  height: 40px;
  margin-top: 580px;
  margin-left: 540px;
  position: absolute;
  z-index: 1;
  background-color: white;
  text-align: center;
  color: red;
}
 */ 
.intro-text {
  padding: 10%;
}

.work-text {
  padding: 9%;
}

.extra-text {
  padding: 2%;
}


.refresh{
  width: 40px;
  height: 40px;
  margin-top: 260px;
  margin-left: 1000px;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.refreshButton {
  margin-top: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background: url(img/reload-button.svg);
}

.refreshButton:hover {
  margin-top: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  background: url(img/reload-button-2.svg);
}


p {
 font-family: lores-21-serif, sans-serif;
}

.main {
 font-family: lores-21-serif, sans-serif;
 font-size: 1.5em;
 line-height: 140%;
}

a:link {
  color: #000;
}

a:hover{
  color: #ff00ff;

}

a:visited {
  color: #505050;
}

a:active {
    color: #ff00ff;
}

/* Background */
.canvas {
  width: 100%;
  height: 100%;
}

.pixel {
  width: 10px;
  height: 10px;
  float: left;
  background:#ff;
}

.pixel:nth-child(odd) {
  background: #fff;
}

.pixel:nth-child(3n+0) {
  background: #fff;
}

.pixel:nth-child(6n+0) {
  background: #fff;
}

.pixel:nth-child(7n+0) {
  background: #fff;
}

.pixel:nth-child(8n+1) {
  background: #fff;
}

.pixel:nth-child(9n+0) {
  background: #fff;
}

.pixel:nth-child(11n+0) {
  background: #fff;
}

.pixel:nth-child(13n+1) {
  background: #fff;
}


.container {
  display: grid | inline-grid | subgrid;
  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
  grid-template-rows: 25% 100px auto;

}

#item1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1-start;
  grid-row-end: 3;
  background-color:#333333;
}

/*


.flex-container {
  display: flex;
}

#shape1 {
  width: 30px;
  height: 30px;
  background-color: red;
}
#shape2 {
  width: 30px;
  height: 30px;
  background-color: blue;
}
#shape3 {
  width: 30px;
  height: 30px;
  background-color: purple;
}

.display {
  display: none;
}*/


* { 
  padding:0;
  margin:0;
  border: 0;
}

#refresh {
  width: 100%; 
  height: 100%;
  color: white;
  border:10px solid blue;
  position: absolute;
  z-index: -2;
  margin: 0 0 0 0;
}

#test {
  width: 50px; 
  height: 40px;
  padding: 10px 50px;
  color: white;
  display: inline;
  float: left;
  transform: translateY(100px) translateX(130px);
  }
