* {	
	padding: 0;
	margin:0;
}



body {
  background-color:rgb(7, 237, 82);
  margin:auto;
  height: 100%;

}
.intro{
	color:rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	background-color:rgb(7, 237, 82);
}

#name {
	font-family: 'acumin-pro-wide', sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 6.5em;
	line-height: 77%;
}

em {
	font-weight: 800;
	font-style: normal; 
}

#condensed {
	font-family:"acumin-pro-extra-condensed";
	font-weight: 800;
	margin-left: 0.5%;
	font-style: normal;
	color:rgb(255, 255, 255);
	line-height:65%;
	font-size: 1.2em;
}

h2 {
	font-size: 0.1em;
	position: relative;
}

.location {
	font-family:"acumin-pro-condensed";
	font-weight:61;
	font-size: 2em;
	margin-left: 0.5%;
	font-style: normal;
	color:rgb(255, 255, 255);
	line-height:55%;
	position: absolute;
 	margin-left: 40%;
  	margin-top: -14%;
}

.topic {
	font-family:"acumin-pro-condensed";
	font-weight:61;
	font-size: 2em;
	margin-left: 0.5%;
	font-style: normal;
	color:rgb(255, 255, 255);
	line-height:55%;
	position: absolute;
 	margin-left: 40%;
  	margin-top: -7%;
}

.dot {
  height: 23px;
  width: 23px;
  background-color: #563c32;
  border-radius: 50%;
  display: inline-block;
}

.square {
  height: 23px;
  width: 23px;
  background-color: #563c32;
  border-radius: 0%;
  display: inline-block;
}

.dressdescription{
  height: 175px;
  width: 70%;
  background-color: #563c32;
  border-radius: 20px 20px 20px 0px;
  display: inline-block;
  margin-top:3%;
  margin-left:1%;
}


#green{
   color: #07ed52;

}
h3 {
	font-family:"acumin-pro-extra-condensed";
	font-weight:61;
	font-size: 2em;
	margin-left: 0.5%;
	font-style: normal;
	color:rgb(255, 255, 255);
	line-height:55%;
	position: absolute;
	line-height:55%;
 	margin-left: 5%;
  	margin-top: 5%;
}

h4 {
	font-family:"acumin-pro-condensed";
	font-weight:500;
	font-size: 2em;
	margin-left: 0.5%;
	font-style: normal;
	color:rgb(255, 255, 255);
	position: absolute;
	line-height:100%;
 	margin-left: 5%;
  	margin-top: 10%;
}


.fashionbaby{
  background-image: url(img/fashionbaby-dress.png);
  background-size: contain;
  background-repeat: no-repeat;  
  width: 100%;
  height: 600px;
  position: absolute;
  margin-left: 2%;
  margin-top: 40%;
  display: all;
}



