body{
   background:radial-gradient(circle, #ffae00, #ff7f21, #fbfd31);
   padding: 0px;
   cursor: pointer;
 }


#gradient-yellow {
  width: 600px;
  height: 600px;
  margin: auto;
  border-radius: 50%;
  margin-top: 13%;  
  margin-bottom: 10%;
  position: relative;
}

.circlecontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
 }


.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 2;
}

#circle-1{
  transform: translateY(110px) translateX(825px);
  background: linear-gradient(to left, #ff990a, #ffec15, #fdcf31);
}

#circle-2{
  transform: translateY(150px) translateX(955px);
  background: linear-gradient(to left, #ff990a, #ffec1d, #fdcf31 );
}

#circle-3{
  transform: translateY(250px) translateX(1000px);
  background: linear-gradient(to right, #f7ffa0, #ffed20);
}

#circle-4{
  transform: translateY(345px) translateX(960px);
  background: linear-gradient(to right, #ff990a, #ffec1d, #fdcf31 );
}

#circle-5{
  transform: translateY(385px) translateX(830px);
  background: linear-gradient(to right, #ff990a, #ffec15, #fdcf31);
}

#circle-6{
  transform: translateY(345px) translateX(630px);
  background: linear-gradient(to right, #ff990a, #fdcf31, #fdcf31);
}

#circle-7{
  transform: translateY(205px) translateX(440px);
  background: linear-gradient(to right, #fff14f, #fdcf31, #fdcf31);
}

#circle-8{
  transform: translateY(-15px) translateX(305px);
  background: linear-gradient(to right, #ffec1d, #fdcf31, #fdcf31);
}

#circle-9{
  transform: translateY(-290px) translateX(260px);
  background: linear-gradient(to left, #fff47c, #fdcf31, #fdcf31);
}

#circle-10{
  transform: translateY(-570px) translateX(305px);
  background: linear-gradient(to left, #ffec1d, #fdcf31, #fdcf31);
}

#circle-11{
  transform: translateY(-790px) translateX(430px);
  background: linear-gradient(to left, #fcfa57, #fdcf31, #fdcf31);
}

#circle-12{
  transform: translateY(-930px) translateX(630px);
  background: linear-gradient(to left, #ff990a, #fdcf31, #fdcf31);
}



.images {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
}

.image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-left: 42.5%;
  margin-top: 22.5%;
  top:0;
  left:0;
  z-index: 1;
  display: none;
 }

#image-1{
  background-image: url(images/dog/tennis.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 135%;
}

#image-2{
  background-image: url(images/dog/lemon.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 145%;
}

#image-3{
  background-image: url(images/dog/bath.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 180%;
}


#image-4{
 background-image: url(images/dog/showoff.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 115%;
}

#image-5{
  background-image: url(images/dog/food.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 135%;
}

#image-6{
  background-image: url(images/dog/pb&j.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 180%;
}

#image-7{
  background-image: url(images/dog/sleepy.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 130%;
}

#image-8{
  background-image: url(images/dog/pat.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%;
}

#image-9{
  background-image: url(images/dog/runrun.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 187%;
}

#image-10{
  background-image: url(images/dog/friends.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 121%;
}

#image-11{
  background-image: url(images/dog/cozy.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 137%;
}

#image-12{
  background-image: url(images/dog/boop.gif) ;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 157%;
}
